body {
    background-image: url("http://www.cursaintercol.cat/upload/o/11/114965_super-mario-bros-backgrounds.png");
}

#main-info {
    background: blue;
    margin: 10px;
    padding: 10;
    width: 330px;
    height: 650px;
    overflow: auto;
    float: left; 
}

#game-container {
    /* position: relative; */
    float: left;
}

.nes-text {
    font-size: 40px;
}

.game-container {
    display: flex;
}

h1 {
    text-align: center
}

.class {
    display: flexbox
}

#ranking {
    background: white
}